/*
root
nav > ul
a
display flex
display grid
text, bg - white and black
text align - right left center justify
rounded - border-radius - 1rem
margin - mx, my, mt
p - padding
*/

* {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #172121;
}

.container {
    padding: 50px 100px;
}

.d-flex {
    display: flex;
    gap: 2rem;
}

.gap-0 {
    gap: 0rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.df-around {
    justify-content: space-around;
}

.df-between {
    justify-content: space-between;
}

.df-right {
    justify-content: right;
}

.df-center {
    justify-content: center;
}

.d-grid {
    display: grid;
}

.dg-1-1 {
    grid-template-columns: 1fr 1fr;
}

.dg-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
}

.dg-1-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dg-1-1-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.dg-2-1 {
    grid-template-columns: 2fr 1fr;
}

.dg-1-2 {
    grid-template-columns: 1fr 2fr;
}

.text-white {
    color: #F0EFF4;
}

.text-black {
    color: #172121;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}


.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.rounded {
    border-radius: 1rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.m-4 {
    margin: 4rem;
}

.m-5 {
    margin: 5rem;
}

.mx-0 {
    margin-right: 0rem;
    margin-left: 0rem;
}

.mx-1 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.mx-2 {
    margin-right: 2rem;
    margin-left: 2rem;
}

.mx-3 {
    margin-right: 3rem;
    margin-left: 3rem;
}

.mx-4 {
    margin-right: 4rem;
    margin-left: 4rem;
}

.mx-5 {
    margin-right: 5rem;
    margin-left: 5rem;
}

.mx-10 {
    margin-right: 10rem;
    margin-left: 10rem;
}

.my-0 {
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.my-1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.my-2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.my-3 {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.my-4 {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.my-5 {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.my-10 {
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-5 {
    margin-left: 5rem;
}

.ml-6 {
    margin-left: 6rem;
}

.ml-7 {
    margin-left: 8rem;
}

.ml-9 {
    margin-left: 9rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mr-5 {
    margin-right: 5rem;
}

.mr-10 {
    margin-right: 10rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-5 {
    padding: 5rem;
}

.p-10 {
    padding: 10rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pl-3 {
    padding-left: 3rem;
}

.pl-4 {
    padding-left: 4rem;
}

.pl-5 {
    padding-left: 5rem;
}

.pl-10 {
    padding-left: 10rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pr-3 {
    padding-right: 3rem;
}

.pr-4 {
    padding-right: 4rem;
}


.pr-5 {
    padding-right: 5rem;
}

.pr-10 {
    padding-right: 10rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pt-5 {
    padding-top: 5rem;
}

.pt-10 {
    padding-top: 10rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

.pb-10 {
    padding-bottom: 10rem;
}

.px-05 {
    padding: 0rem 0.5rem;
}

.px-1 {
    padding: 0rem 1rem;
}

.px-2 {
    padding: 0rem 2rem;
}

.px-3 {
    padding: 0rem 3rem;
}

.px-4 {
    padding: 0rem 4rem;
}

.px-5 {
    padding: 0rem 5rem;
}

.py-05 {
    padding: 0.5rem 0rem;
}

.py-1 {
    padding: 1rem 0rem;
}

.py-2 {
    padding: 2rem 0rem;
}

.py-3 {
    padding: 3rem 0rem;
}

.py-4 {
    padding: 4rem 0rem;
}

.py-5 {
    padding: 5rem 0rem;
}

.cursor {
    cursor: pointer;
}

.full-width {
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .container {
        padding: 25px 50px;
    }

    .dg-1-1,
    .dg-1-1-1,
    .dg-1-1-1-1,
    .dg-1-2,
    .dg-2-1 {
        grid-template-columns: 1fr;
    }
}