:root {
    --primary-font: 'Nunito sans', Helvetica, sans-serif;
    --hero-font: 'Anton', Helvetica, sans-serif;
    --footer-font: 'Inter', Helvetica, sans-serif;
    --primary-button-bgcolor: #FC8019;
    --primary-mono-bgcolor: #DF6703;
    --rating-star-bgcolor: #EDA800;
    --testimonial-bgcolor: #eceaea;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 5rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 50px 0 rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 2px 50px 0 rgba(0, 0, 0, .16);
    z-index: 1;
}

nav ul li a {
    padding: 10px 35px;
}

nav ul li a:hover {
    background-color: #EDA800;
    border-radius: 10px;
    transition: 0.3s;
}body {
    transition: background-color 0.5s ease;
}

.dark-mode-toggle {
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 9999;
    background: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    background-color: #aaa;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.toggle::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.dark-mode .toggle {
    background-color: #333;
}

.dark-mode .toggle::after {
    transform: translateX(15px);
}
.dark-mode .white-shadow-text{
    text-shadow: 0 0 4px #FFFFFF;
}
.dark-mode .program-images{
    box-shadow: 1px 1px 2px 2px rgb(238, 236, 236);
    border-radius: 5px;
}
.dark-mode .plan-card{
    box-shadow: 0px 0px 3px 2px rgb(238, 236, 236);
    border-radius: 5px;
}

.text {
    margin-left: 10px;
    vertical-align: middle;
}
.dark-mode {
    background-color: #121212;
    color: #fff;
}
.dark-mode nav {
    background-color: #1B1F1F;
}
.dark-mode nav li a {
    color: #ffff;
}

.program-content img {
    opacity: 1;
    cursor: pointer;
}

.program-content img:hover {
    opacity: 0.5;
}

.hero-font {
    font-family: var(--hero-font);
}

footer ul li a:hover {
    font-weight: 600;
    transition: 0.3s;
}

.contact:hover {
    font-weight: 600;
    transition: 0.3s;
    color: #F0EFF4;
}

a:hover {
    color: blue;
}

#hero-section {
    background: url('./../img/hero/hero-banner.png') no-repeat right top;
    font-family: var(--hero-font);
    min-height: 100%;
}

body {
    font-family: var(--primary-font);
}

footer {
    font-family: var(--footer-font);
    background-color: #1B1F1F;
    color: #F0EFF4;
}

footer li a {
    color: #F0EFF4;
}

footer li a:hover {
    color: #F0EFF4;
}

footer div a {
    color: #F0EFF4;
}

footer div a:hover {
    color: #F0EFF4;
}

footer ul {
    font-size: 14px;
}

footer ul li {
    margin-bottom: 10px;
}

.footer-icon {
    cursor: pointer;
}

.footer-icon-bg {
    color: #EDA800;
}

.br-r-1 {
    border-right: 2px solid #000;
}

.gap-1 {
    gap: 1rem;
}

.f-12 {
    font-size: 12px;
}

.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
}

.f-24 {
    font-size: 24px;
}

.f-30 {
    font-size: 30px;
}

.f-40 {
    font-size: 40px;
}

.fw-normal {
    font-weight: normal;
}

.w-16 {
    width: 16rem;
}

.w-18 {
    width: 18rem;
}

.light-op {
    opacity: 0.8;
}

.float-right {
    float: right;
}

.btn {
    padding: 15px 30px 15px 30px;
}

.btn-action {
    background-color: var(--primary-button-bgcolor);
    border: 0px;
    font-size: medium;
    font-weight: 700;
    border-radius: 18px;
    transition: 0.3s;
}

.btn-action:hover {
    background-color: var(--primary-mono-bgcolor);
    color: white;
    cursor: pointer;
    padding: 15px 50px;
    transition: 50ms;
}

.program-title .btn-action {
    border-radius: 12px;
}

.program-title .btn-action:hover {
    padding: 15px 30px;
    opacity: 0.7;
    transition: 0.3s;
}

.program-title.active .btn-action {
    background-color: var(--primary-mono-bgcolor);
    padding: 15px 50px;
    opacity: 1 !important;
}

.program-title.active .btn-action:hover {
    color: white;
    transition: 0.5s;
}

.white-shadow-text {
    text-shadow: 0 0 3px #FFFFFF;
}

.black-shadow-text {
    text-shadow: 0 0 3px #0000;
}

.bg-black {
    background-color: #172121;
}

.bg-white {
    background-color: #F0EFF4;
}

.highlight-bg {
    background-color: #FC8019;
}

.plan-bg {
    background-color: beige;
}

.highlight-text {
    color: var(--primary-button-bgcolor);
}

.rating {
    color: var(--rating-star-bgcolor);
}

.testimonial-bg {
    background-color: var(--testimonial-bgcolor);
    border-radius: 7px;
}

#featurette-lists {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem 1rem;
}

#featurette-lists ul {
    padding: 20px;
}

#about-highlight-section {
    background: lightgray;
    border-radius: 0.5rem;
    color: #172121;
    padding: 0 10%;
}

.plan-container {
    padding: 50px 45px;
}

.program-images img {
    width: 80%;
    margin: 0 auto;
    transition: transform 0.20s ease, opacity 0.20s ease;
}

.flipped {
    transform: scaleX(-1);
    opacity: 0;
}

.milestone-position {
    float: right;
    position: relative;
    left: 3.5rem;
}

.milestone-marker {
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    background-color: #FC8019;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.plan-left {
    padding-left: 2rem;
}

.testimonial-highlight {
    font-size: x-large;
}

#highlight-video {
    width: 500px;
    height: 360px;
}

.mobile-show {
    display: none;
}

.arrow {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 16px solid #F0EFF4;
    position: relative;
    margin: 0px auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.arrow.up {
    border-bottom: none;
    border-top: 16px solid #F0EFF4;
    transform: rotate(180deg);
}

.border {
    border-radius: 100%;
    width: 35px;
    height: 25px;
    background-color: #000;
    color: #F0EFF4;
}

.plan-card {
    box-shadow: 0px 3px 3px 5px rgb(238, 236, 236);
    border-radius: 20px;
}

@media only screen and (max-width: 900px) {


    #progress-section,.testimonial-content {
        display: none;
    }
    #header-nav{
        padding: 0rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .rotate-20 {
        font-size: 20px;
        margin-top: 8rem;
    }

    .rotate-30 {
        font-size: 30px;
    }

    .w-16 {
        width: 20rem;
    }

    .white-shadow-text {
        margin-top: 25rem;
        margin-left: 2rem;
    }

    .hero-button {
        text-shadow: 0 0 3px #FFFFFF;
        margin-top: 15rem;
    }

    .hero-img {
        margin-top: 10rem;
    }

    .hero-name {
        margin-top: 0rem !important;
        padding-top: 0rem !important;
    }
    .tm-content{
        padding-top: 1rem;
    }

    .heading-rotate {
        margin-top: 2rem;
    }

    #mobile-button {
        margin-top: 3rem;
    }

    .imageContainer {
        height: 300px;
    }

    #gallery-section {
        display: none;
    }
    .highlight-content{
        max-width: 100%;
    }
    
    #highlight-video {
        margin-top: 13rem;
        max-width: 350px;
        height: 40%;
        margin-left: 0rem;
        padding-left: 0rem;
    }
    .testimonial-rotate{
        display: grid;
        grid-template-columns: 1fr;
    }

    .progress-img {
        display: none;
    }

    .container {
        padding: 50px 50px;
    }

    .dg-1-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .plan-grid {
        grid-template-columns: 1fr;
    }
    .tm-image{
        margin-left: 0rem;
        margin-top: 2rem;
    }
    .program-img{
        max-width: 90%;
    }

    .mobile-hide {
        display: none !important;
    }

    .mobile-show {
        display: initial !important;
    }
    .program-left{
        margin-left: 1rem;
    }
    .program-right{
        margin-left: 0rem;
        margin-right: 2rem;
    }
    nav{
        min-height: 3rem;
    }
    .about-head{
        margin-top: 6rem;
    }
    .testimonial-highlight{
        margin-top: 0rem;
    }
    .footer-heading{
        margin-left: 0rem;
    }

}

@media only screen and (max-width: 600px) {
    #gallery-section, #highlight-video {
        display: none;
    }
    #about-highlight-video{
        padding: 0rem;
        max-width: 100%;
        height: 50%;
    }

    #road-map .d-grid {
        display: grid;
    }

    #road-map .dg-1-1 {
        grid-template-columns: 1fr 1fr;
    }

    #about-header {
        font-size: 15px;
    }
    .about-content{
        padding: 1rem;
        padding-top: 4rem;
    }
    .program-img{
        max-width: 50%;
    }

    #about-highlight {
        font-size: 20px;
    }

    #home-headings {
        font-size: 15px;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 0rem;
    }

    #mobile-button {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    #featurette-lists {
        padding: 0.5rem;
    }

    #highlight-section {
        margin-top: 3rem;
    }

    .review-img {
        margin-top: 1rem;
    }

    .plan-button {
        margin: 0.75rem;
    }

    .mobile-block {
        display: block;
        padding: 0.75rem;
    }

    .about-pl-2 {
        padding-left: 2rem;
    }

    .program-content {
        margin-top: 2rem;
    }

    button,
    .btn {
        display: block !important;
        margin: 15px 0px;
        width: 100%;
    }

    footer {
        padding-bottom: 50px;
    }

    footer {
        margin-top: 3rem;
    }

    footer ul,footer div, footer div p {
        font-size: 3.5vw;
    }
    .footer-mail{
        display: flex;
        justify-content: space-between;
        gap: 0.25rem;
    }
    .footer-heading{
        margin-left: 0rem;
    }

    button {
        font-size: small !important;
    }

    nav ul {
        display: initial !important;
        width: 100%;
    }

    nav ul li {
        margin: 10px;
        width: 100%;
    }
    .program-left{
        padding-top: 1rem;
        margin-right: 0.5rem;
        justify-self:center;
        box-shadow: 0px 0px 0px 0 rgb(255, 255, 255);
    }
    .program-right{
        margin-bottom: 1.5rem;
        margin-left: 2.5rem;
        justify-self:center;
        box-shadow: 0px 0px 0px 0 rgb(255, 255, 255);
    }

    .f-24 {
        font-size: 2vw;
    }

    #about-page {
        margin: 1rem;
    }

    .plan-left {
        padding-left: 0;
        padding-top: 1.5rem;
    }

    .mobile-center {
        text-align: center;
        padding-top: 1rem;
    }

    .mobile-hide {
        display: none !important;
    }

    .mobile-show {
        display: initial !important;
    }

    .tm-highlight {
        padding-right: 0;
        padding-top: 0;
        margin-top: 4rem;
    }

    .tm-image {
        margin-left: 0;
        margin-top: 2rem;
        padding: 0rem 1rem;
    }

    .container {
        padding: 0 1.5rem;
    }

    #buttons {
        margin-top: 1rem;
    }

    #progress-section {
        margin: 0;
    }

    .plan-container {
        padding: 0.25rem;
    }

    .mobile {
        padding: 1rem 1rem;
    }
}