:root {
    --primary-font: 'Nunito sans', Helvetica, sans-serif;
    --hero-font: 'Anton', Helvetica, sans-serif;
    --footer-font: 'Inter', Helvetica, sans-serif;
    --primary-button-bgcolor: #FC8019;
    --rating-star-bgcolor: gold;
    --testimonial-bgcolor: #d3d3d3;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 5rem;
    background-color: white;
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 50px 0 rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 2px 50px 0 rgba(0, 0, 0, .16);
    z-index: 1;
}

a:hover {
    color: blue;
}

#hero-section {
    background: url('./../img/hero/hero-banner.png') no-repeat right top;
    font-family: var(--hero-font);
    min-height: 100%;
}

body {
    font-family: var(--primary-font);
}

footer {
    font-family: var(--footer-font);
    background-color: #172121;
    color: #F0EFF4;
}

footer li a {
    color: #F0EFF4;
}

footer li a:hover {
    color: #F0EFF4;
}

footer ul {
    font-size: 14px;
}

footer ul li {
    margin-bottom: 10px;
}

.slide1 {
    height: 400px;
    width: 100%;
    transform: translate();
    background-image: url(http://127.0.0.1:5500/img/program/program-1.png);
    background-size: 100%;
    animation: slider 9s infinite linear;
}

.slide2 {
    height: 400px;
    width: 100%;
    transform: translate();
    background-image: url(http://127.0.0.1:5500/img/program/program-2.png);
    background-size: 100%;
    animation: slider 9s infinite linear;
}

.slide3 {
    height: 400px;
    width: 100%;
    transform: translate();
    background-image: url(http://127.0.0.1:5500/img/program/program-3.png);
    background-size: 100%;
    animation: slider 9s infinite linear;
}

@keyframes slider {
    0% {
        background-image: url(http://127.0.0.1:5500/img/program/program-1.png);
    }

    35% {
        background-image: url(http://127.0.0.1:5500/img/program/program-2.png);
    }

    75% {
        background-image: url(http://127.0.0.1:5500/img/program/program-3.png);
    }
}

.br-r-1 {
    border-right: 1px solid #000;
}

.f-18 {
    font-size: 18px;
}

.f-24 {
    font-size: 24px;
}

.f-30 {
    font-size: 30px;
}

.f-40 {
    font-size: 40px;
}

.fw-normal {
    font-weight: normal;
}

.w-16 {
    width: 16rem;
}

.w-18 {
    width: 18rem;
}

.light-op {
    opacity: 0.8;
}

.float-right {
    float: right;
}

.btn {
    padding: 15px 30px 15px 30px;
}

.btn-action {
    background-color: var(--primary-button-bgcolor);
    border: 0px;
    font-size: medium;
    font-weight: 700;
    border-radius: 24px;
}

.bg-black {
    background-color: #172121;
}

.bg-white {
    background-color: #F0EFF4;
}

.highlight-bg {
    background-color: var(--primary-button-bgcolor);
}

.highlight-text {
    color: var(--primary-button-bgcolor);
}

.rating {
    color: var(--rating-star-bgcolor);
}

.testimonial-bg {
    background-color: var(--testimonial-bgcolor);
    border-radius: 7px;
}

#featurette-lists {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem 1rem;
}

#featurette-lists ul {
    padding: 20px;
}

#about-highlight-section {
    background-color: gray;
    border-radius: 1.5rem;
    color: #F0EFF4;
}

.milestone-position {
    float: right;
    position: relative;
    right: -3.5rem;
}

.milestone-marker {
    position: relative;
    right: 0;
    top: 0;
    background-color: orange;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.plan-left {
    padding-left: 2rem;
}

#highlight-video {
    width: 700px;
    height: 360px;
}

.mobile-show {
    display: none;
}

@media only screen and (max-width: 600px) {
    #gallery-section {
        display: none;
    }

    #road-map .d-grid {
        display: grid;
    }

    #road-map .dg-1-1 {
        grid-template-columns: 1fr 1fr;
    }

    .mobile-block {
        display: block;
    }

    button,
    .btn {
        display: block !important;
        margin: 15px 0px;
        width: 100%;
    }

    footer {
        padding-bottom: 50px;
    }

    footer ul {
        font-size: 3.5vw;
    }

    footer div {
        font-size: 3.5vw;
    }

    footer div p {
        font-size: 3.5vw;
    }

    button {
        font-size: small !important;
    }

    nav ul {
        display: initial !important;
        width: 100%;
    }

    nav ul li {
        margin: 10px;
        width: 100%;
    }

    .f-24 {
        font-size: 2vw;
    }

    #highlight-video {
        margin-top: 2rem;
        width: 100%;
        height: auto;
    }

    .plan-left {
        padding-left: 0;
    }

    .mobile-center {
        text-align: center;
    }

    .mobile-hide {
        display: none !important;
    }

    .mobile-show {
        display: initial !important;
    }
}